/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
  font-variation-settings: "wght" var(--main-font-weigh);
  font-size: var(--main-font-size);
}

/* header */

.header {
  margin-block-start: 100px;
  margin-block-end: 100px;
  font-family: var(--accent-font-family);
  max-width: 696px;
  margin: 102px auto 102px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  line-height: normal;
  padding: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem) 0 6px;
  background-color: var(--background-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
  text-decoration: none;
  outline: none;
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
}

.theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 14px;
  padding-inline-start: 16px;
  padding-block-end: 18px;
}

.theme-menu__button {
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  position: relative;
}

.theme-menu__button:hover {
  color: var(--text-color);
  opacity: 60%;
  cursor: pointer;
  outline: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::before {
  content: '';
  display: block;
  transition: transform 0.3s ease;
  color: var(--accent-color);
  opacity: 60%;
  font-size: 14px;
} 

.theme-menu__button:disabled::before {
  content: '▶';
  animation: switch-moving 0.5s alternate ease-in-out infinite;
  inset-inline-end: 70px;
  position: absolute;
  left: -18px;
  bottom: 2px;
  color: var(--accent-color);
  width: 16px;
  height: 13px;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.7;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:active {
  opacity: 60%;
}

/* main and cards */

.main {
  display: flex;
  gap: 50px;
  margin: 0 auto;
  max-width: 696px;
  flex-direction: column;
}

.section {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.section__title {
  font-size: var(--main-font-size);
  padding: 4px 5px 3px 8px;
  line-height: normal;
  font-variation-settings: 'wdth' var(--card-title-font-weight);
}

.card {
  position: relative;
}

.card__image {
  border: 2px solid var(--accent-color);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* filters */

.brightness {
  filter: brightness(102%);
}

.saturate {
  filter: saturate(158%);
}

.sepia {
  filter: sepia(50%);
}

.hue-rotate {
  filter: hue-rotate(-90deg);
}

.invert {
  filter: invert(0.7);
}

.contrast {
  filter: contrast(103%);
} 

.opacity {
  filter: opacity(0.8);
}

.grayscale {
  filter: grayscale(0.7) contrast(0.5);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.watermark {
  position: absolute;
  font-family: var(--accent-font-family);
  line-height: normal;
  font-size: 14px;
  opacity: 0.5;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  top: 27px;
  right: 23px;
  text-shadow: 1px 1px 1px var(--background-color);
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .watermark {
      -webkit-text-stroke: 1px var(--background-color);
      text-stroke: 1px var(--background-color);
      text-shadow: none;
  }
}

.card__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 25px 25px 0;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  background-color: transparent;
  max-height: 38px;
  cursor: pointer;
  border: none;
  color: var(--text-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.btn {
  position: relative;
  font-family: var(--accent-font-family);
  color: var(--accent-color);
  background: var(--background-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  appearance: none;
  z-index: 0;
  font-size: 14px;
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: box-shadow 0.3s ease-in-out;
}

.btn::before {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  z-index: 0;
  background-color: currentColor;
}

.btn:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  padding: 12px 37px;
  block-size: 38px;
  max-width: 130px;
}

.button__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  position: relative;
  mix-blend-mode: difference;
  color: var(--color-mixed);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* save button */

.block__save-button {
  display: flex;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 103px;
}

.save-button {
  cursor: pointer;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  display: flex;
  position: relative;
  gap: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 21px;
}

.floppy {
  mix-blend-mode: difference;
  color: var(--color-mixed);
}

/* dialog */

.dialog {
  max-width: 353px;
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
  display: none;
  padding: 30px 30px;
}

.dialog[open] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.dialog-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}  

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog-title {
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-weigh);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  max-width: 234px;
}

.btn-close {
  width: 100%;
  min-height: 38px;
  margin-block-start: 30px;
  text-transform: uppercase;
}

@media (width <= 376px) {
  .header {
    max-width: 371px;
  }

  .watermark {
    top: 25px;
    right: 12px;
  }

  .save-button {
    flex-direction: column;
    min-block-size: 84px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .dialog {
    max-width: 341px;
  }

  .btn-close {
    width: min(100%, 257px);
  }

  .dialog-title {
    max-width: 198px;
  }
}